body {
  background: rgba(240, 235, 237, 0.89);
}

.card {
  background-color: rgba(255, 255, 255, 0.609);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 10px 20px 20px 2px rgba(8, 8, 8, 0.1);
  border-radius: 10px;
  margin: 2rem 0 2rem 0;
}

textarea {
  border: none;
  background-color: rgba(255, 255, 255, 0.609) !important;
  border-radius: 10px;
  width: 100%;
  resize: none;
  overflow: hidden;
  height: fit-content;
}

.form-control:disabled,
.form-control[readonly] {
  border: none;
  border-radius: 10px;
  color: white;
}

.form-control {
  border: none;
  border-radius: 10px;
  box-shadow: 5px 2px 10px 2px rgba(8, 8, 8, 0.1);
}

.form-container {
  max-width: 500px;
  margin: 2rem auto;
  overflow: hidden;
  padding: 0 2rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(68, 60, 60, 0.781);
}

.bg-primary {
  background-color: #986be0 !important;
}

#dropDown {
  margin-left: -5rem !important;
}

@media (min-width: 768px) {
  #question-form {
    z-index: 4;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}

.article-content {
  white-space: pre-line;
}
